<div class="sidebar" style="height: calc(100vh);">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.facultyDashboard"><i class="icon-speedometer"></i> Dashboard Faculty</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Preferences
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.facultyDashboard.blocksPreference">
          <i class="icon-calculator"></i> Blocks preferences </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.facultyDashboard.coursesPreference"><i class="icon-calculator"></i> Courses preferences </a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Schedule
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.facultyDashboard.schedule"><i class="icon-pie-chart"></i> View Schedule</a>
      </li>
    </ul>
  </nav>
</div>