<div class="sidebar" style="height: calc(100vh);">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.studentDashboard"><i class="icon-speedometer"></i> Dashboard Student</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Courses Information
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.studentDashboard.availableCourses"><i class="icon-pie-chart"></i> Courses available</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Course Registration
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.studentDashboard.registerToCourses"><i class="icon-calculator"></i> Register to courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.studentDashboard.schedule"><i class="icon-star"></i> View Schedule</a>
      </li>
    </ul>
  </nav>
</div>