<div class="sidebar" style="height: calc(100vh);">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Course Preferences
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.widgets"><i class="icon-calculator"></i> Select preferences</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Courses Information
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-pie-chart"></i> Courses available</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-star"></i> View Schedule</a>
      </li>
    </ul>
  </nav>
</div>