<div ng-controller="adminEntry" class="animated fadeIn"> 
  <div class="card" ng-init=loadList()>
    <div class="card-header">
     	<button 
        ui-sref="appSimple.adminDashboard.entryNew"
    		class="btn btn-sm btn-success">
    		<i class="fa fa-dot-circle-o"></i> Add New Entry
    	</button>
    </div>
    <div class="card-body">
     	<div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in entries">
                <td>{{ $index+1 }} </td>
                <td>{{ entry.date | limitTo: 10 }} </td>
                <td>{{ entry.description }}</td>
                <td>
                 	<button 
                    ui-sref="appSimple.adminDashboard.entryEdit({id: entry.id})"
                		class="btn btn-sm btn-primary">
                		<i class="fa fa-dot-circle-o"></i> Edit
                	</button>
                	<button 
	                	ng-click= "delete(entry.id)"
	                 	class="btn btn-sm btn-danger">
	                 	<i class="fa fa-ban"></i> Delete
                	</button>
                </td>
              </tr>
            </tbody>
          </table>
	    </div>
    </div>
</div>
