<div class="animated fadeIn" ng-controller="adminCourse">
	<div class="card">
		<div class="card-header">
		  <strong>Course</strong>
		</div>
		<div class="card-body">
		  <div class="form-group">
		    <label for="code">Code</label>
		    <input type="text" class="form-control" ng-model="course.code" placeholder="Code">
		  </div>
		  <div class="form-group">
		    <label for="name">Name</label>
		    <input type="text" class="form-control" ng-model="course.name" placeholder="Name">
		  </div>
		  <div class="form-group">
		    <label for="description">Description</label>
		    <input type="text" class="form-control" ng-model="course.description" placeholder="Description">
		  </div>
		  <div class="form-group">
		    <label for="courseLevel">Course Level</label>
		    <input type="text" class="form-control" ng-model="course.course_level" placeholder="Course Level">
		  </div>
		<div class="form-group row">
		      <label class="col-md-1 col-form-label">On Campus</label>
		      <div class="col-md-9 col-form-label">
		        <div class="form-check form-check-inline mr-3">
		          <input type="radio" class="form-check-input" ng-model="course.on_campus" ng-value="true">
		          <label class="form-check-label">Yes</label>
		        </div>
		        <div class="form-check form-check-inline mr-1">
		          <input type="radio" class="form-check-input" ng-model="course.on_campus" ng-value="false">
		          <label class="form-check-label">No</label>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="card-footer">
         	<button 
	         	type="submit" 
	         	ng-click= "create()" 
	         	class="btn btn-sm btn-primary" 
	         	ng-hide="isUpdate">
	          	<i class="fa fa-dot-circle-o"></i> 
	          	Submit
        	</button>
         	<button 
	         	type="submit" 
	         	ng-click= "update()" 
	         	class="btn btn-sm btn-primary" 
	         	ng-hide="!isUpdate">
	         	<i class="fa fa-dot-circle-o"></i>
	         	Update
        	</button>
        	<button 
	        	type="reset" 
	        	ng-click= "cancel()"
	        	class="btn btn-sm btn-danger">
	        	<i class="fa fa-ban"></i> 
	        	Cancel
       		</button>
        </div>
	</div>
</div>	
	        
	     