<header class="app-header navbar ng-scope">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!/home"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/student/login">Students</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/faculty/login">Professor</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/admin/login">Admin</a>
    </li>
  </ul>
</header>

<div class="animated fadeIn">

	<div class="app flex-row align-items-center">
		<div class="container">
		  <div class="row justify-content-center">
		  	<h1 style="color: #2e93fa;">Welcome to MUM Sched!</h1>
		  </div>
		</div>
	</div>

</div>