<div class="sidebar" style="height: calc(100vh);">
  <nav class="sidebar-nav">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard"><i class="icon-speedometer"></i> Dashboard Admin</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Users management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard.students">
          <i class="icon-star"></i>Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard.faculties">
          <i class="icon-star"></i>Faculty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard.admins">
          <i class="icon-star"></i>Admins</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Entries management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard.entries">
          <i class="icon-calculator"></i>Entries</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Blocks management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard.blocks">
          <i class="icon-pie-chart"></i> Blocks</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Courses management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.adminDashboard.courses"><i class="icon-star"></i>Courses</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Sections management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-star"></i>Sections</a>
      </li>
    </ul>
  </nav>
</div>