<header class="app-header navbar ng-scope">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!/home"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/faculty/login">Admin1</a>
    </li>
  </ul>
</header>

<div class="animated fadeIn">
  <div ng-app="app" class="app flex-row align-items-center" ng-controller="studentController">
    <div class="container">
      <div class="row justify-content-center">
    	<div class="col-sm-9">
	      <div class="card">
	        <div class="card-header">
	         	<button 
	        		type="submit" 
	        		class="btn btn-sm btn-success">
	        		<i class="fa fa-dot-circle-o"></i> Add New Admin
	        	</button>
	        </div>
	        <div class="card-body">
		     	<div class="row">
		          <table class="table table-striped">
		            <thead>
		              <tr>
		                <th>First Name</th>
		                <th>Last Name</th>
		                <th>Nationality</th>
		                <th>Email</th>
		                <th>Phone</th>
		                <th>Action</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td>Admin First</td>
		                <td>Admin Last</td>
		                <td>Earth</td>
		                <td>adminn@mum.edu</td>
		                <td>123 45 6789</td>
		                <td>
		                 	<button 
		                		type="submit" 
		                		class="btn btn-sm btn-primary">
		                		<i class="fa fa-dot-circle-o"></i> Edit
		                	</button>
		                	<button type="reset" 
		                 	class="btn btn-sm btn-danger">
		                 	<i class="fa fa-ban"></i> Delete
		                	</button>
		                </td>
		              </tr>
		            </tbody>
		          </table>
			    </div>
	        </div>
	      </div>
	    </div>
      </div>
    </div>
  </div>
</div>
