<div class="animated fadeIn" ng-controller="adminFaculty">
	<div class="card">
		<div class="card-header">
		  <strong>Faculty</strong>
		</div>
		<div class="card-body">
		  <div class="form-group">
		    <label for="firstName">First Name</label>
		    <input type="text" class="form-control" ng-model="faculty.firstName" placeholder="Enter your first name">
		  </div>
		  <div class="form-group">
		    <label for="lastName">Last Name</label>
		    <input type="text" class="form-control" ng-model="faculty.lastName" placeholder="Enter your last name">
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="text" class="form-control" ng-model="faculty.email" placeholder="Enter your Email">
		  </div>
		</div>
		<div class="card-footer">
         	<button 
	         	type="submit" 
	         	ng-click= "create()" 
	         	class="btn btn-sm btn-primary" 
	         	ng-hide="isUpdate">
	          	<i class="fa fa-dot-circle-o"></i> 
	          	Submit
        	</button>
         	<button 
	         	type="submit" 
	         	ng-click= "update()" 
	         	class="btn btn-sm btn-primary" 
	         	ng-hide="!isUpdate">
	         	<i class="fa fa-dot-circle-o"></i>
	         	Update
        	</button>
        	<button 
	        	type="reset" 
	        	ng-click= "cancel()"
	        	class="btn btn-sm btn-danger">
	        	<i class="fa fa-ban"></i> 
	        	Cancel
       		</button>
        </div>
	</div>
</div>