<div class="animated fadeIn" ng-controller="adminBlock">
  <div class="card">
    <div class="card-header">
      <strong>Block</strong>
    </div>
    <div class="card-body">
    	<div class="row form-group col-sm-4">
      		<label>Start Date</label>
      	</div>
      	<div class="row">
	      	<div class="form-group col-sm-4">
	          <label for="ccyear">Year</label>
	          <select 
	        	class="form-control"
	        	ng-options="year as year.label for year in startYears track by year.id" 
	        	ng-model="startYear">
	          </select>
	        </div>
	        <div class="form-group col-sm-4">
	          <label for="ccmonth">Month</label>
	          <select 
	        	class="form-control"
	        	ng-options="month as month.label for month in startMonths track by month.id" 
	        	ng-model="startMonth">
	          </select>
	        </div>
	        <div class="form-group col-sm-4">
	          <label for="ccmonth">Day</label>
	          <select 
	        	class="form-control"
	        	ng-options="day as day.label for day in startDays track by day.id" 
	        	ng-model="startDay">
	          </select>
	        </div>
	     </div>
	     <div class="row form-group col-sm-4">
      		<label>End Date</label>
      	</div>
      	<div class="row">
	      	<div class="form-group col-sm-4">
	          <label for="ccyear">Year</label>
	          <select 
	        	class="form-control"
	        	ng-options="year as year.label for year in endYears track by year.id" 
	        	ng-model="endYear">
	          </select>
	        </div>
	        <div class="form-group col-sm-4">
	          <label for="ccmonth">Month</label>
	          <select 
	        	class="form-control"
	        	ng-options="month as month.label for month in endMonths track by month.id" 
	        	ng-model="endMonth">
	          </select>
	        </div>
	        <div class="form-group col-sm-4">
	          <label for="ccmonth">Day</label>
	          <select 
	        	class="form-control"
	        	ng-options="day as day.label for day in endDays track by day.id" 
	        	ng-model="endDay">
	          </select>
	        </div>
	     </div>
	     <div class="form-group">
	        <label for="description">Description</label>
	        <input type="text" class="form-control" ng-model="block.description" placeholder="Description">
	     </div>
	     <div class="form-group row">
		      <label class="col-md-1 col-form-label">On Campus</label>
		      <div class="col-md-9 col-form-label">
		        <div class="form-check form-check-inline mr-3">
		          <input type="radio" class="form-check-input" ng-model="block.on_campus" ng-value="true">
		          <label class="form-check-label">Yes</label>
		        </div>
		        <div class="form-check form-check-inline mr-1">
		          <input type="radio" class="form-check-input" ng-model="block.on_campus" ng-value="false">
		          <label class="form-check-label">No</label>
		        </div>
		      </div>
		</div>
    </div>
    <div class="card-footer">
         	<button 
	         	type="submit" 
	         	ng-click= "create()" 
	         	class="btn btn-sm btn-primary" 
	         	ng-hide="isUpdate">
	          	<i class="fa fa-dot-circle-o"></i> 
	          	Submit
        	</button>
         	<button 
	         	type="submit" 
	         	ng-click= "update()" 
	         	class="btn btn-sm btn-primary" 
	         	ng-hide="!isUpdate">
	         	<i class="fa fa-dot-circle-o"></i>
	         	Update
        	</button>
        	<button 
	        	type="reset" 
	        	ng-click= "cancel()"
	        	class="btn btn-sm btn-danger">
	        	<i class="fa fa-ban"></i> 
	        	Cancel
       		</button>
        </div>
    </div>
</div>