<header class="app-header navbar ng-scope">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!/home"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/student/login">Students</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/faculty/login">Professor</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#!/admin/login">Admin</a>
    </li>
  </ul>
</header>

<div class="animated fadeIn">
  <div class="app flex-row align-items-center" ng-controller="studentLogin">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Student Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" ng-model=contactname>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" ng-model=contactnumber>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" ng-click="login()">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
