<div class="animated fadeIn" data-ng-init="getCoursesToRegister()"> 

	<div class="card">
		<div class="card-header"> Courses to register </div>
 		<div class="card-body">

			<table class="table">
				<thead>
				  <tr>
				    <th>Course Number</th>
				    <th>Course Name</th>
				    <th>Professor</th>
				    <th>Capacity</th>
				    <th>Enrolled</th>
				    <th>Seats available</th>
				    <th>Register</th>
				  </tr>
				</thead>
				<form>
					<tbody ng-repeat="block in responseData">
					  	<tr><td colspan="6" class="block-name"><b>{{ block.description }}</b></td></tr>
						  <tr ng-repeat="course in block.courses">
						    <td>{{ course.code }}</td>
						    <td> {{ course.name }} </td>
						    <td>{{ course.facultyName }}</td>
						    <td> {{ course.capacity }} </td>
						    <td> {{ course.enrolled }} </td>
						    <td> {{ course.seats_available }} </td>
						    <td> <button ui-sref="appSimple.studentDashboard.registerConfirm" ng-click="submitRegistration(course.id_section, course.name, block.description)"> Register </button></td>
						  </tr>
					</tbody>
				</form>
			</table>
		</div>
	</div>
 </div>